.frm_wp_journal input[type="text"], .frm_wp_journal input[type="email"], .frm_wp_journal input[type="password"], .frm_wp_journal select, .frm_wp_journal textarea {
    width: 90%;
}
.frm_wp_journal textarea{
    height: 150px;
}
.wp_journal_alert_box{
    padding: 10px 20px !important;
    font-weight: 600;
    margin: 5px 0 15px !important;
    background: #fff !important;
    border-left: 4px solid #fff !important;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1) !important;
}
.wp_journal_alert_message{
    border-left-color: #46b450 !important;
}
.wp_journal_alert_error{
    border-left-color: #CC0000 !important;
}
.wp_journal_alert_warning{
    border-left-color: #e6db55 !important;
}
ul.wp_journal_pagination {
    display:block;
    text-align:center;
    font-size: 14px;
    margin: 20px 0px;
}
ul.wp_journal_pagination > li {
    display:inline-block;
}
ul.wp_journal_pagination > li > a, ul.wp_journal_pagination > li > span, ul.wp_journal_pagination > li > span.spacer {
    display:inline-block;
    margin:2px 0.5px;
    text-decoration:none;
    padding:4px;
    border-radius:5px;
}
.frm_wp_journal .form-group{
    margin-bottom: 30px;
}
.frm_wp_journal .form-group label{
    font-size: 14px;
    font-weight: 500;
    display: block;
}
.frm_wp_journal .form-group small{
    font-size: 12px;
}
.frm_wp_journal .nav-link {
    color: #4a5568;
    display: flex;
    align-items: center;
}
.frm_wp_journal .nav-link:hover,
.frm_wp_journal .nav-link:hover svg{
    color: #0056b3;
}
.frm_wp_journal .nav-link svg{
    margin-right: 10px;
}
.frm_wp_journal .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.frm_wp_journal .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-top: 1px solid rgba(0,0,0,.055);
    max-width: none;
}
.frm_wp_journal .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
.frm_wp_journal .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}
.frm_wp_journal .gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.frm_wp_journal .mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.frm_wp_journal .bg-gray-300 {
    background-color: #e2e8f0;
}
.frm_wp_journal .h-100 {
    height: 100%!important;
}
.frm_wp_journal .shadow-none {
    box-shadow: none!important;
}
.frm_wp_journal .tab-content .tab-pane{
    min-height: 400px;
    padding-bottom: 60px;
}
.frm_wp_journal .tab-content .tab-pane h6{
    text-transform: uppercase;
}
.frm_wp_journal .tab-content .tab-pane .btnsaveContainer{
    position: absolute;
    bottom: 30px;
}
.frm_wp_journal .tab-content .tab-pane .wp_journal_file_types_container{
    width:100%;
}
.frm_wp_journal .tab-content .tab-pane .wp_journal_file_types_container th,
.frm_wp_journal .tab-content .tab-pane .wp_journal_file_types_container td{
    padding: 10px 0px;
}
.frm_wp_journal .tab-content .tab-pane .custom-control-input{
    z-index: 1;
    top: 7px;
    width: 2rem;
}
.frm_wp_journal .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 50px;
}
.frm_wp_journal .ajax-loader,
.frm_wp_journal .ajax-message-container{
    display: none;
}
.frm_wp_journal .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #007bff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.frm_wp_journal .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.frm_wp_journal .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.frm_wp_journal .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.frm_wp_journal .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.frm_wp_journal .wp_journal_remove_image{
    background: url("../images/del.png") no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
}
.frm_wp_journal .wp_journal_wp_image_upload img{
    max-width: 150px;
}

.journal-container {
    font-family: QanelasSoft-SemiBold;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.journal-container h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.journal-container .buttons-container{
    display: flex;
    align-items:center;
    flex-direction: column;
    margin: 0 auto 1.5rem;
    min-height: 50px;
}
.journal-container .insight-report-btn,
.journal-container .new-entry-btn{
    background-color: #3b82f6;
    color: white;
    max-width: 200px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-family: 'QanelasSoft-SemiBold';
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-align: center;
    border-radius: 40px;
}
.journal-container .insight-report-btn span{
    display: block;
    font-size: 10px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 0.5rem;
}
/*
.journal-container .new-entry-btn {
    position: absolute;
    right: 40px;
    background: none;
    color: #3b82f6;
    margin-top: 30px;
}*/
.journal-container .new-entry-btn .fas{
    top: 0px;
}
.journal-container .insight-report-btn:hover {
    background-color: #2563eb;
}
.journal-container .entries-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 28px 48px;
}
.journal-container .entry {
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
.journal-container .entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #FAFBFD;
    border-bottom: 1px solid #EEEEEE;
}
.journal-container .entry-date {
    background: none;
    padding: 0px;
    margin: 0px;
    font-size: 23px !important;
    font-family: 'QanelasSoft-Bold';
    color: #414141;
    min-height: 44px;
    border: none;
    cursor: pointer;
}
.journal-container .delete-btn,
.journal-container .edit-btn{
    background: none;
    border: none;
    color: #6b7280;
    cursor: pointer;
    font-size: 20px;
}
.journal-container .delete-btn svg:hover,
.journal-container .delete-btn svg:visited,
.journal-container .delete-btn svg:active,
.journal-container .delete-btn svg:focus{
    fill: #FF392B;
}
.journal-container .edit-btn:hover{
    color: #ff832f;
}
.journal-container .entry-content {
    max-height: 200px;
    overflow-y: auto;
}
.journal-container .entry-textarea {
    width: 100%;
    min-height: 170px;
    padding: 16px;
    border: none;
    resize: none;
    font-size: 20px;
    color: #374151;
    background-color: transparent;
    line-height: 25px;
    font-family: 'QanelasSoft-Medium';
    cursor: pointer;

    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
.journal-container .entry:visited .entry-header,
.journal-container .entry:active .entry-header,
.journal-container .entry:focus .entry-header,
.journal-container .entry:visited .entry-content,
.journal-container .entry:active .entry-content,
.journal-container .entry:focus .entry-content{
    background-color: rgba(0,0,0,0.02);
}
.journal-container .entry-textarea:focus,
.journal-container .entry-date:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
.btn-open-journal{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(12, 12, 12) !important;
    visibility: visible;
    font-family: 'QanelasSoft-Bold' !important;
    letter-spacing: 1px;
    font-weight: 700 !important;
    padding: 23px 30px !important;
}
.btn-open-journal .fas{
    opacity: 1 !important;
    position: relative !important;
    width: auto !important;
    left: auto !important;
    right: auto !important;
    margin-right: 5px !important;
    margin-top: -7px !important;
}
.journal-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*background-color: rgba(0,0,0,0.6);*/
    color:#414141;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.75) );
}
.journal-modal .modal-content {
    background-color: #fefefe;
    margin: 0px auto;
    padding: 16px;
    width: 100%;
    max-width: 460px;
    border-radius: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.16);
}

.journal-modal .modal-content-container{
    border-radius: 12px;
    background: rgba(240, 240, 240, 0.5);
    padding: 24px 28px;
}
.journal-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.journal-modal .modal-title {
    font-size: 24px;
    font-family: 'QanelasSoft-Bold';
    min-height: 44px;
    background: none;
    padding: 0px;
    border: none;
}
.journal-modal .modal-title:focus{
    outline:none;
    border:none;
    box-shadow: none;
}
.journal-modal .save-btn {
    background: none;
    border: none;
    color: #2A7EFF;
    cursor: pointer;
    font-family: 'QanelasSoft-Bold';
    font-size: 24px;
    margin-right: -14px;
}
.journal-modal #modal-errors{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    margin-top: 1rem;

    margin: 0px;
    position: absolute;
    width: 100%;

    display:none;
}
.journal-modal .modal-textarea {
    width: 100%;
    min-height: 180px;
    padding: 0px;
    /*border: 1px solid #e5e7eb;
    border-radius: 0.25rem;*/
    resize: none;
    font-size: 16px;
    background: none;
    border:none;
    font-family: 'QanelasSoft-SemiBold';
    color: #414141;
}
.journal-modal .modal-textarea::placeholder {
    color: rgba(65, 65, 65, 0.5);
}
.journal-modal .modal-textarea:focus {
    outline: none;
    border:none;
    box-shadow: none;
}
.journal-modal .mic-btn {
    position: absolute;
    bottom: -12px;
    right: -14px;
    background-color: #2B7EFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 32px;
    box-shadow: 0px 11px 24px 0 rgba(11,36,73,0.3);
}
.journal-modal .mic-btn .fas{
    top: 0px;
}
.journal-modal .mic-btn .fa-stop{
    display: none;
}
.journal-modal .mic-btn.mic-stop{
    background-color: #FF392B;
}
.journal-modal .mic-btn.mic-stop .fa-microphone{
    display: none;
}
.journal-modal .mic-btn.mic-stop .fa-stop{
    display: block;
}
.journal-modal .mic-btn,
.journal-modal .save-btn,
.journal-container .delete-btn svg,
.journal-container .entry{
    transition: transform 0.1s;
}
.journal-modal .mic-btn:hover,
.journal-modal .save-btn:hover,
.journal-container .delete-btn svg:hover,
.journal-container .entry:hover{
    transform: scale(1.02);
}
.journal-modal .mic-btn:visited,
.journal-modal .mic-btn:active,
.journal-modal .mic-btn:focus,
.journal-modal .mic-btn.mic-stop:visited,
.journal-modal .mic-btn.mic-stop:active,
.journal-modal .mic-btn.mic-stop:focus,
.journal-modal .save-btn:visited,
.journal-modal .save-btn:active,
.journal-modal .save-btn:focus,
.journal-container .delete-btn svg:visited,
.journal-container .delete-btn svg:active,
.journal-container .delete-btn svg:focus{
    filter: grayscale(20%);
}

#journalNewEntryModal .modal-content-full-height{
    height: 100%;
    border-radius: 16px 16px 0px 0px;
}
.journal-modal .mobile-dictate-msg{
    display: none;
    font-family: 'QanelasSoft-Bold';
    font-size: 12px;
    text-align: center;
    position: absolute;
    width: 100%;
    color: rgba(65, 65, 65, 0.5);
    margin-top: -110px;
}
.journal-modal .mobile-dictate-msg-top{
    background-image: linear-gradient(rgba(247, 247, 247, 0), rgba(247, 247, 247, 1));
    height: 52px;
}
.journal-modal .mobile-dictate-msg-bottom{
    background: rgba(247, 247, 247, 1);
    padding: 16px;
}
#journalNewEntryModal .modal-content-mobile,
#journalNewEntryModal .modal-content-mobile .modal-content-container {
    padding-bottom: 0px;
    border-radius: 16px 16px 0px 0px;
}
#journalNewEntryModal .modal-content-mobile{
    top:0px;
    transform:translate(-50%, 0px);
}
#journalNewEntryModal .modal-content-mobile #newEntryContent{
    padding-bottom:50px;
}
#journalNewEntryModal .modal-content-mobile .mobile-dictate-msg{
    display: block;
}
#journalNewEntryModal .modal-content-mobile .modal-textarea{
    margin-bottom: 40px;
}
#journalNewEntryModal .modal-content-mobile .mic-btn{
    display: none;
}
@media (min-width: 768px) {
    .journal-container .entries-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .journal-modal .modal-textarea {
        min-height: 180px;
    }
}
@media (min-width: 1024px) {
    .journal-container .entries-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .journal-modal .modal-textarea {
        min-height: 380px;
    }
}